<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Downwind</title>
</head>
<body>
    <h1>Crear Downwind</h1>
    <form action="/create_downwind" method="POST">
		<label for="date">Fecha:</label>
		<input type="date" id="date" name="date" required><br><br>

		<label for="time">Hora:</label>
		<input type="time" id="time" name="time" required><br><br>

		<label for="run">Run:</label>
		<input type="text" id="run" name="run" required><br><br>

		<button type="submit">Crear Downwind</button>
	</form>

</body>
</html>
