<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Downwind</title>
</head>
<body>
    <h1>Seleccionar Downwind</h1>
    <form action="/register" method="GET">
        <label for="downwind">Selecciona un Downwind:</label>
        <select id="downwind" name="downwind_name" required>
            {% for downwind in downwinds %}
            <option value="{{ downwind['name'] }}">{{ downwind['name'] }} - {{ downwind['date'] }} {{ downwind['time'] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Añadir participante</button>
    </form>
</body>
</html>
